
.topPage{
    background: 
}
.logo>img{
    width:30%; 
    position: absolute; 
    z-index: 0; 
    opacity: 0.7;
}
.navbar-toggler:active{
     background-color: white !important;
    opacity: 0.5;
    
}

.bg-light{
    font-size: 20px;
    background: rgba(231,255,206,1)!important; 
    border-radius: 5px;
    text-decoration-style: none;
    z-index: 2;
}
.nav-item:hover{
    background-color: #9db33e;
    border-radius: 5px;
    text-decoration-style: none;
}
a.active:hover{
    color: antiquewhite!important;
    text-decoration-style: none;
}
.body1{
    border-right: 2px solid rgba(238,238,238,0.2);
}
.update{
    border: 2px solid rgba(238,238,238,0.7);
   padding-top: 5px;
    margin-bottom: 10px;
}
.updateHeading{
    text-align: center; 
    font-weight: bold;
    background: rgba(238,238,238,0.7);
    margin-top: 0;
    padding: 3px;
}
.updateList{
    list-style: square;
}

#particles-js {
  top: 0px;
  margin: 0;
  border: 0;
  height: 220px;
  width: 100%;
  background-color: white;
  z-index: 3;
}



.header{
    text-align: center;
    background: rgba(50,100,50,0.1);
    opacity: 0.8;
    margin-top: 10px;
}
.title{
    text-align: center;
    margin-top: 10px;
}
.card{
    padding: 15px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: justify;
}

.footer{
    background: rgba(59,254,184,0.4);
}

@media (min-width: 768px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
    .navbar-nav> li:hover >.dropdown-menu{
		display: block;
	}
	.dropdown-menu > li:hover{ background-color: lightgreen; }
	.dropdown-menu > li:hover >.submenu{
		display: block;
	}
}
@media (max-width: 767px){
    #quicklink{
        display: none;
    }
}
